body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
}

.scoreBar {
	padding: 0.2rem 0.5rem;
	display: flex;
	flex-direction: row;
	background-color: #FF56A9;
	color: white;
	font-size: 21px;
}

.additionalInfo {
	background-color: #FF56A9;
	color: white;
	float: right;
	font-size: 18px;
	font-style: italic;
}

#playerName, #tournamentName {
	border-left: 1px solid #802B54;
	border-right: 1px solid #802B54;
	padding: 0.05rem 0.7rem;
}

.raceNumber {
	display: flex;
	flex: 0.1;
	justify-content: left;
	border-right: 5px solid #BF417E;
	align-items: center;
	margin-right: 0.5rem;

	.currentRace {
		&::after {
			content: '/';

		}
	}
}

.score {
	&::after {
		content: ' pts';
	}
}


.points {
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-between;

	> div {
		display: flex;
		align-items: center;
	}
}

.objective {
	display: flex;
	flex: 0.15;
	justify-content: right;
	text-align: right;
	border-left: 5px solid #BF417E;
	align-items: center;
	margin-left: 0.5rem;
	padding-left: 0.5rem;
}


.legend {
	font-weight: bold;
	margin-right: 0.2rem;

	&::after {
		content: ' : ';
	}
}

.delta {
	margin-left: 0.4rem;
	font-size: 15px;
	font-style: italic;
}

#record .legend, #record .score {
	color: #56fcff;
}

#worst .legend, #worst .score {
	color: #ffd556;
}
